[submodule "Zirconium/lib/spdlog"]
	path = Zirconium/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Zirconium/lib/GLFW"]
	path = Zirconium/lib/GLFW
	url = https://github.com/glfw/glfw.git
